body{
background-color: #D1B1C8;
font-size: 16px;
/* B1B7D1
9B9FB5
8C7284
7A6174 */
}

.name{
    color: #9B9FB5;  
    text-align: center;
}

.lista-indice {
    display: inline-flex ;
}

.lista-indice li{
    margin-right: 30px;
}

.foto-description{
    display: inline-flex;
    width: 100%;
}

.imagem{ 
    background-color: #000;
    padding: 5px;
    /* border-radius: 50%; */
    margin-right: 50px;
}

#description{
    color: #7A6174;
    font-size: 1.4em;
    max-width: 500px;
}

.nationality-green{
    color: green;
}

.nationality-yellow{
    color:yellow;
}

.trybe{
    color:#036b52;
    text-decoration: none;
}

#skills{
    color: #7A6174;
}

.skills{
    font-size: 2em;
}

.locality{
    color:black;
}

.fastlearning{
    font-size: 1.4em;
}
.languages{
    font-size: 1.35em;
}
.html{
    font-size: 1.25em;
}
.css{
    font-size: 1.20em;
}
.javascript{
    font-size: 1.15em;
}
.github{
    font-size: 1.10em;
}
.patience{
    font-size: 1.20em
}
.communication{
    font-size: 1.15em;
}
.eletric{
    font-size: 1.1em;
}
.office {
    font-size: 1.05em;
}
.so{
    font-size: 1em;
}
.tft{
    font-size: 0.95em;
}



#links{
    padding:5px;
    display: inline-flex;
}
.cursoemvideo{
    background-color:blue;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 20px;
  }

.github-link{
    background-color:blue;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 20px;
}  

.voltarFoto{
    background-color:#9B9FB5;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 20px;
}

.linkedin{
    background-color:blue;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
    margin-right: 20px;
}