.color {
  display: inline-block;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

#first-color {
  background-color: black;
}

#clear-board {
  margin: 10px;
}

#input-container {
  margin: 10px;
}

.table {
  display: table;
  border: 2px solid black;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px black solid;
  background-color: white;
}

